PORT=5000
MONGODB_URI=mongodb+srv://10anuragyadav2002:PEf7dzQVXA3l1lBl@cluster0.yxmjska.mongodb.net/appointment-booking?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
NODE_ENV=development 